#accordion {
  height:500px;
  width: 25%;
  margin-left: auto;
}

.accordion-header {
  height:45px;
  display: flex;
  align-items:center;
  background-color: #e75339;
  margin:10px auto;
  color: white;
  padding:0 20px;
  justify-content: space-between;
  border-radius: 4px;
  font-size: 0.8rem;
}
.open-p {
  height:0;
  overflow: hidden;
  font-size:0.7rem;
  transition: height 0.4s;
}
.accordion-open {
  height:100px;
  padding:6px 3px;
  transition: height 0.4s;
}
